<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-lazy-init="true">

	<context:component-scan base-package="hibernate"></context:component-scan>

	<bean id="resultMessage" class="com.linjw.business.beans.ResultMessage">
		<property name="success" value="buy" />
	</bean>

	<context:property-placeholder location="classpath:system-params-dev.properties" />

	<util:properties id="systemParams"
		location="classpath:system-params-dev.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.dataSource.driverClassName}"></property>
		<property name="url" value="${jdbc.uasdb.url}"></property>
		<property name="username" value="${jdbc.uasdb.username}"></property>
		<property name="password" value="${jdbc.uasdb.password}"></property>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		destroy-method="destroy">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="configLocation" value="hibernate.cfg.test.xml"/>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
<!-- 
	<tx:advice id="txAdvice">
	</tx:advice>

 -->	
 	<!-- 启用事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 
	<aop:config>
		<aop:pointcut expression="" id="txPointcut"/>
		<aop:advisor advice-ref="txAdvice"/>
	</aop:config> 
	-->
	
</beans>