<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<!-- <context:component-scan base-package="com.linjw" > </context:component-scan> -->

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/loginpage" default-target-url="/home.jsp" authentication-failure-url="/secondlogindenied.html"/><!--url should start with '/' -->
		<logout logout-success-url="/index.jsp" delete-cookies="JSESSIONID"/>
		<remember-me key="123123"/>
		
		<!-- Spring-Security Session Management -->
		<!--  
		session-fixation-protection启动“session固定攻击”保护，属性值解释：
		none: 不启动保护机制
		newSession: 新建一个新的空session，并且Spring-Security相关的属性会被复制到新的session里
		migrateSession: 新建一个新的session，并且复制旧session所有的属性到新的session里
		changeSessionId: 不新建session，保留原有session，并使用容器提供的session固定保护机制方法HttpServletRequest#changeSessionId()-->
		
		<!-- 
		使用invalid-session-url检测session timeouts.
		如果用户使用这种方法logout后继续使用当前浏览器（不重开浏览器）login时会报错。这是因为你invalidate session时没有清空session cookie，
		然后登录时该cookie又会被重新提交到服务器，即使你已经做了logout操作。
		所以你应该在logout时在logout标签里加上delete-cookies="JSESSIONID"来删除之前的JSESSIONID cookie.
		Note: Unfortunately this can’t be guaranteed to work with every servlet container, so you will need to test it in your environment
		 -->
		<session-management session-fixation-protection="migrateSession" invalid-session-url="/invalidSession.htm">
			<!-- 
			同步控制：max-session=1，表示一个已登录的用户同一时间只不能重复登录。
			-->
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
		</session-management>
	</http>
	
	<authentication-manager erase-credentials="false">
		<authentication-provider user-service-ref="myUserDetailsService">
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="myUserDetailsService"
		class="com.linjw.business.user.login.UserLoginService"/>
		
</beans:beans>
